<h1><span class="dashicons dashicons-admin-generic"></span> {{ title }}</h1>
<form action="{{ form_action }}" method="post">
{{ do_settings_sections( slug ) }}
{{submit_button|raw}}
{{settings_fields( slug )}}
</form>
