<form class="navbar-form navbar-right" role="search" action="{{site.url}}">
  <div class="input-group">
    <div class="form-group">
      <label for="search" class="sr-only">{{label}}</label>
      <input id="search" type="text" name="s" class="form-control" placeholder="{{placeholder}}" value="{{query}}">
    </div>
    <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="fa fa-search"></span><span class="sr-only">{{submit}}</span></button></span>
  </div>
</form>
